body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  color: #55acee;
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// PROFILE LIST STYLE

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: white;
  color: #555;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ccc;
}

// PROFILE SHOW STYLE

.data {

  text-transform: capitalize;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  .item {
    padding: 5px 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 1px #a9a9a9;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
      background: #fdfdfd;
    }
  }

  .skill {
    border-left: 10px solid #63c6ec;
  }

  .expose {
    border-left: 10px solid #ebf57b;
  }

  .interest {
    border-left: 10px solid #ef657d;
  }
}

#photo img {
  width: 125px;
  height: 125px;
}

#info {

}

#contact {

}

#summary {
  text-align: justify;
}
