body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  color: #55acee;
}

.unclickable {
  pointer-events: none;
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-agile {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}

.btn {
  padding: 9px 12px 7px;
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

// HOME PAGE STYLE

#top {
  margin-top: -20px;
  background: #007CB4;
  padding-top: 10%;
  padding-bottom: 12.5%;

  .less-padding {
    padding: 5px;
  }

  img {
    margin-bottom: 20px;
  }

  .title {
    color: white;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
  }

  .subtitle {
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 50px;
    color: white;
  }
}

// PROFILE LIST STYLE

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: white;
  color: #555;
}

.card .skill {
  background: #5CB85C;
  color: white;
  padding: 1px 4px;
  margin: 1px;
  border-radius: 2px;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #ccc;
}

// PROFILE SHOW STYLE

.data {

  text-transform: capitalize;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  .item {
    padding: 5px 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 1px #a9a9a9;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
      background: #fdfdfd;
    }
  }

  .skill {
    border-left: 10px solid #63c6ec;
  }

  .expose {
    border-left: 10px solid #ebf57b;
  }

  .interest {
    border-left: 10px solid #67f281;
  }
}

#photo img {
  width: 125px;
  height: 125px;
}

#info {

}

#contact {

}

#summary {
  text-align: justify;
}

.carousel-image {
  height: 50px;
  width: auto;
}
