.container
  .form-group
    .input-group
      input.form-control(type="text", ng-model='searchBar' placeholder="Search Prospect...")
      span.input-group-btn
        button.btn.btn-default(type="button", ng-click='searchProfile()')
          span.glyphicon.glyphicon-search

.container
  .row 
    .text-capitalize(al-card, ng-repeat='profile in profiles | filter:searchBar track by $index', profile='profile', index='$index.toString()', list='profiles')
