.container
  .form-group
    .input-group
      input.form-control(type="text", ng-model='searchBar' placeholder="Search Prospect...")
      span.input-group-btn
        button.btn.btn-default(type="button", ng-click='searchProfile()')
          span.glyphicon.glyphicon-search

.container
  dir-pagination-controls
  .row
    div(dir-paginate="profile in profiles | filter:searchBar | itemsPerPage: 4 track by $index")
      .text-capitalize(al-card, profile='profile', index='$index.toString()', list='profiles')
  
