.container
  .row
    .col-md-7.col-md-offset-2.text-center
      .input-group(ng-if='!user')
        input.form-control(type='text', ng-model='email', placeholder='Enter your email')
        span.input-group-btn
          button.btn.btn-default(ng-click='createAccount(email)') View Profiles
        
      a.btn.btn-default(ng-if='user', ui-sref='profiles.list') View Profiles
