.container
  .row
    .col-md-6.col-md-offset-3
      .page-header Log In
      form(ng-submit='loginUser()')
        .form-group
          input.form-control(type='email', ng-model='loginForm.email', placeholder='Email')
        .form-group
          input.form-control(type='password', ng-model='loginForm.password', placeholder='Password')
        .form-group
          button.btn.btn-default.pull-right(ng-click='loginUser()') Log In
