nav.navbar.navbar-default.navbar-static-top(ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AGILE LABS
      
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-if='user.role')
        //- User Options Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 
            i.fa.fa-cogs.fa-lg
          ul.dropdown-menu(role='menu')
            li: a {{user.email}}
            li.divider
            li: a(ui-sref='user.edit') Change Password
            li: a(href='#', ng-click='logout()') Logout
      ul.nav.navbar-nav.navbar-right(ng-if='user.role === "super" || user.role === "normal"')
        li: a(ui-sref='profiles.list') Profiles
      ul.nav.navbar-nav.navbar-right(ng-if='!user')
        li: a(ui-sref='user.login') Log In
      ul.nav.navbar-nav.navbar-right(ng-if='user.role === "admin"')
        //- Profile Admin Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Profiles
            span.caret
          ul.dropdown-menu(role='menu')
            li: a(ui-sref='profiles.create') Add Profile
            li: a(ui-sref='profiles.list') Show Profiles
        //- User Admin Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Users
            span.caret
          ul.dropdown-menu(role='menu')
            li: a(ui-sref='users.create') Add User
            li: a(ui-sref='users.list') Show Users
      ul.nav.navbar-nav.navbar-right
        li: a.hvr-underline-from-center(ui-sref='home') Home
