nav.navbar.navbar-default.navbar-static-top(ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AGILE LABS
      
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-if='user.role')
        //- User Options Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') {{user.email}}
            span.caret
          ul.dropdown-menu(role='menu')
            li: a.hvr-underline-reveal(href='#', ng-click='logout()') Logout
            li: a.hvr-underline-reveal(ui-sref='user.edit') Change Password
      ul.nav.navbar-nav.navbar-right(ng-if='user.role === "super" || user.role === "normal"')
        li: a.hvr-underline-reveal(ui-sref='profiles.list') Profiles
      ul.nav.navbar-nav.navbar-right(ng-if='!user')
        li: a.hvr-underline-reveal(ui-sref='user.login') Log In
      ul.nav.navbar-nav.navbar-right(ng-if='user.role === "admin"')
        //- Profile Admin Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Profiles
            span.caret
          ul.dropdown-menu(role='menu')
            li: a.hvr-underline-reveal(ui-sref='profiles.create') Add Profile
            li: a.hvr-underline-reveal(ui-sref='profiles.list') Show Profiles
        //- User Admin Dropdown
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Users
            span.caret
          ul.dropdown-menu(role='menu')
            li: a.hvr-underline-reveal(ui-sref='users.create') Add User
            li: a.hvr-underline-reveal(ui-sref='users.list') Show Users
      ul.nav.navbar-nav.navbar-right
        li: a.hvr-underline-reveal(ui-sref='home') Home
        




//- 
//- <li class="dropdown">
//-           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
//-           <ul class="dropdown-menu" role="menu">
//-             <li><a href="#">Action</a></li>
//-             <li><a href="#">Another action</a></li>
//-             <li><a href="#">Something else here</a></li>
//-             <li class="divider"></li>
//-             <li><a href="#">Separated link</a></li>
//-             <li class="divider"></li>
//-             <li><a href="#">One more separated link</a></li>
//-           </ul>
//-         </li>
