.container
  .row
    .col-md-1.text-center
      div(ng-if='list[index - 1]')
        img.img-circle.carousel-image(base-sixty-four-image='list[index - 1].image')
        h6: a(ui-sref='profiles.show({userId: list[index - 1]._id, index: (index - 1).toString(), list: list})'): strong Prev
    .col-md-10
    
      .col-md-12
        .col-md-3.text-center#photo
          img.img-circle(base-sixty-four-image="userProfile.image")
        .col-md-5#info
          h3 
            span {{userProfile.firstName}} 
            span(ng-class='{blur: !super}') {{userProfile.lastName}}
          h5 {{userProfile.location}}
          h5 Relocation 
            span(ng-if='userProfile.relocate') ok!
            span(ng-if='!userProfile.relocate') not ok!
        .col-md-4#contact.text-right(ng-class='{unclickable: !super}')
          .page-header(style='margin-top: 0px;') Social Media
          div(ng-class='{blur: !super}')
            h5: a(href='{{available(userProfile.linkedin)}}', target='_blank') LinkedIn &nbsp;
              span.fa.fa-linkedin 
            h5: a(href='{{available(userProfile.twitter)}}', target='_blank') Twitter &nbsp;
              span.fa.fa-twitter
            h5: a(href='{{available(userProfile.github)}}', target='_blank') Github &nbsp;
              span.fa.fa-github
            
            
      .col-md-12#summary
        .page-header Summary
        p {{userProfile.summary}}
        
        
      .col-md-4.data
        .page-header Skills
        .col-md-12
          ul: li.item.skill(ng-repeat='skill in userProfile.skills') {{skill}}
      .col-md-4.data
        .page-header Exposed
        .col-md-12
          ul: li.item.expose(ng-repeat='expose in userProfile.exposed') {{expose}}
      .col-md-4.data
        .page-header Interests
        .col-md-12
          ul: li.item.interest(ng-repeat='interest in userProfile.interests') {{interest}}
          
      .col-md-12#experience
        .page-header Experience
          button.btn.btn-default.btn-xs.pull-right(ng-if='admin.role === "admin"', ng-click='activeExperience()') Add
        form(ng-if='exp')
          .form-group
            input.form-control(type='text', placeholder='Title', ng-model='newExperience.title')
          .form-group
            input.form-control(type='text', placeholder='Company', ng-model='newExperience.company')
          .form-group
            textarea.form-control(row='3', placeholder='Summary', ng-model='newExperience.summary')
          .form-group
            button.btn.btn-default(ng-click='addExperience(newExperience)') Add Experience
        div(ng-if='userProfile.experience', ng-repeat='experience in userProfile.experience')
          h3 {{experience.title}}
          h4 {{experience.company}}
          p {{experience.summary}}
        div(ng-if='!userProfile.experience', ng-class='{blur: !super}')
          h3 Contact Us
          h4 For More Information
          p Please contact us in order to view more information about this profile. 
        
      .col-md-12#portfolio
        .page-header Portfolio
        
    .col-md-1.text-center
      div(ng-if='list[index + 1]')
        img.img-circle.carousel-image(base-sixty-four-image='list[index + 1].image')
        h6: a(ui-sref='profiles.show({userId: list[index + 1]._id, index: (index + 1).toString(), list: list})'): strong Next
