.container(ng-if='!successfull')
  .row
    .col-md-7.col-md-offset-2
      .page-header Create user
      .form-group
        input.form-control(type='email', ng-model='create.email', placeholder='Email')
      .form-group
        input.form-control(type='password', ng-model='create.pass', placeholder='Password')
      .form-group
        button.btn.btn-default.pull-right(ng-click='createUser(create)') Create User
