h5 Create

.form-group
  input.form-control(type='text', ng-model='student.firstName', placeholder='First Name')
.form-group
  input.form-control(type='text', ng-model='student.lastName', placeholder='Last Name')
.form-group
  input.form-control(type='text', ng-model='student.locations', placeholder='Locations')
.form-group
  input.form-control(type='text', ng-model='student.skills', placeholder='Skills')
.form-group
  input.form-control(type='text', ng-model='student.exposed', placeholder='Exposed')
.form-group
  input.form-control(type='text', ng-model='student.interests', placeholder='Interests')
.form-group
  input.form-control(type='text', ng-model='student.education', placeholder='Education')
.form-group
  input.form-control(type='text', ng-model='student.github', placeholder='Github')
.form-group
  input.form-control(type='text', ng-model='student.stack', placeholder='Stack')
.form-group
  input.form-control(type='text', ng-model='student.linkedin', placeholder='LinkedIn')
.form-group
  input.form-control(type='text', ng-model='student.twitter', placeholder='Twitter')
.form-group
  input.form-control(type='text', ng-model='student.image', placeholder='Image')
.form-group
  button.btn.btn-default.pull-right(ng-click='createProfile()') Create Profile
