.col-md-3
  .card
    .avatar
      img(base-sixty-four-image="profile.image")
    .content
      h4 {{profile.firstName}}
      h6
        span.skill(ng-repeat='skill in profile.skills') {{skill}}
      h4
        button.btn.btn-default(ui-sref='profiles.show({userId: profile._id, index: index, list: list})') Learn More
