.container(ng-if='user.role === "admin"')
  .row
    .col-md-12.text-center
      .form-group
        button.btn.btn-success(ui-sref='profiles.edit({profileId: profile._id})') Edit Profile
div(al-profile, user-profile='profile', admin='user')
